<p id="notice"><%= notice %></p>

<h1>Histories</h1>
現在<%= @histories.count('DISTINCT session_id') %> 人が参加しています．

<table>
  <thead>
    <tr>
      <th>Nonce start</th>
      <th>Nonce end</th>
      <th>Prev block</th>
      <th>Finish</th>
      <th>Session Id</th>
    </tr>
  </thead>

  <tbody>
    <% @histories.each do |history| %>
      <tr>
        <td><%= history.nonce_start %></td>
        <td><%= history.nonce_end %></td>
        <td><%= history.prev_block %></td>
        <td><%= history.finish %></td>
        <td><%= history.session_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div id='history-field'>
</div>
