<p id="notice"><%= notice %></p>

<h1>Blocks</h1>


<table>
  <thead>
    <tr>
      <th>Prev block</th>
      <th>Prev timestamp</th>
      <th>Bits</th>
      <th>Markle root</th>
      <th>Result block</th>
      <th>Version</th>
    </tr>
  </thead>

  <tbody>
    <% @blocks.each do |block| %>
      <tr>
        <td><%= block.prev_block %></td>
        <td><%= block.prev_timestamp %></td>
        <td><%= block.bits %></td>
        <td><%= block.markle_root %></td>
        <td><%= block.result_block %></td>
        <td><%= block.version %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
