<p id="notice"><%= notice %></p>

<p>
  <strong>Previous block:</strong>
  <%= @block.previous_block %>
</p>

<p>
  <strong>Prev timestamp:</strong>
  <%= @block.prev_timestamp %>
</p>

<p>
  <strong>Bits:</strong>
  <%= @block.bits %>
</p>

<p>
  <strong>Markle Root:</strong>
  <%= @block.markle_root %>
</p>

<p>
  <strong>Result Block:</strong>
  <%= @block.result_block %>
</p>

<p>
  <strong>Result Block:</strong>
  <%= @block.result_block %>
</p>

<p>
  <strong>Version:</strong>
  <%= @block.version %>
</p>

<%= link_to 'Edit', edit_block_path(@block) %> |
<%= link_to 'Back', blocks_path %>
