<%= form_for(api) do |f| %>
  <% if api.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(api.errors.count, "error") %> prohibited this api from being saved:</h2>

      <ul>
      <% api.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :previous_block %>
    <%= f.text_field :previous_block %>
  </div>

  <div class="field">
    <%= f.label :prev_timestamp %>
    <%= f.datetime_select :prev_timestamp %>
  </div>

  <div class="field">
    <%= f.label :bits %>
    <%= f.number_field :bits %>
  </div>

  <div class="field">
    <%= f.label :markle_root %>
    <%= f.number_field :markle_root %>
  </div>

  <div class="field">
    <%= f.label :result_block %>
    <%= f.number_field :result_block %>
  </div>

  <div class="field">
    <%= f.label :version %>
    <%= f.number_field :version %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
