<p id="notice"><%= notice %></p>

<p>
  <strong>Previous block:</strong>
  <%= @api.previous_block %>
</p>

<p>
  <strong>Prev timestamp:</strong>
  <%= @api.prev_timestamp %>
</p>

<p>
  <strong>Bits:</strong>
  <%= @api.bits %>
</p>

<p>
  <strong>Markle Root:</strong>
  <%= @api.markle_root %>
</p>

<p>
  <strong>Result Block:</strong>
  <%= @api.result_block %>
</p>

<p>
  <strong>Result Block:</strong>
  <%= @api.result_block %>
</p>

<p>
  <strong>Version:</strong>
  <%= @api.version %>
</p>

<%= link_to 'Edit', edit_api_path(@api) %> |
<%= link_to 'Back', apis_path %>
