<!DOCTYPE html>
<html>
  <head>
    <title>Bitcoin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.fontawesome.com/cfec908fd7.js"></script>
  </head>

  <body data-controller=<%= controller_path %> data-action=<%= action_name %> >
    <%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
